<html>

<head>
    <script type="text/javascript" src="/static/code.js"></script>
    <script>
        // A small thing to restore the data if the connection drops partway.
        // Shouldn't really happen, but makes debugging the frontend a little bit more clear
        setTimeout(function(){
            if(document.getElementById('image').value != "")
                file_submitted({{free_memory}});
        }, 1000);
    </script>
</head>

<body>

<form name="web_input" action="send_image/" method="post" enctype="multipart/form-data">
    <p>
        <b>Всего памяти: </b><script>writeBytes({{total_memory}});</script><br>
        <b>Доступно памяти: </b><script>writeBytes({{free_memory}});</script><br>
        <b>Текущий образ: </b><script>
            try {
                writeBytes({{current_image_size}});
            } catch (e) {
                document.write("<span style='color:red'>Изображение не запущено.</span>");
            }
        </script><br><br>

        <b>Размер нового файла: </b><span id="current_size"><script>writeBytes(0);</script></span><br>
        <b>Достаточно места: </b><span id="got_space" style="color:red">Неизвестно</span><br><br>

        <b>Изображение для обновления:</b><br>
        <input type="file" name="image" id="image" required="true" onchange="file_submitted({{free_memory}})">
    </p>
    <p>
        <input type="submit" id="submit" value="Отправить" disabled="disabled">
    </p>
</form>

</body>

</html>